@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
/*div{ border: 1px solid gray; }*/
body{
  margin: 0;
  padding: 0;
}
/*MOBILE VIEW*/


body, html{
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction:row;
  flex:5;
}
.chatting{
  flex:7;
  display: flex;
  flex-direction: row;
}
.chatView{
  display: flex;
  flex-direction:column;
  flex:3;
}

.chatHeader{
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  display: flex;
  background-color: rgb(241, 241, 241);
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partnerView{
  flex:5;
  text-align: center;
  font-size: 13pt;
  font-family: 'Exo', sans-serif;
}

.chatIndexBOX{
  background-color: rgb(247, 247, 247);
  flex:1;
  overflow: scroll;
}
.chatIndex{
  width:100%;
  background-color: rgb(247, 247, 247);
  overflow: scroll;
}
.chatMessage{
  display: flex;
}
.me{
  flex-direction: row-reverse;
}
.you{
  flex-direction: row;
}
.you > .chatValue{
  background-color: #E2E2E2;
  border-radius: 10px 10px 10px 0px;
}
.me > .chatValue{
  background-color:rgb(102, 168, 207);
  border-radius: 10px 10px 0px 10px;
  color:white;
}
.chatValue{
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  display: inline-flex;
}

.chatFooter{
  border: 1px solid lightgray;
  background-color: rgb(241, 241, 241);
  flex-basis: 70px;
  flex-shrink: 1;
  display: flex;
}
.chatInput{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*justify-content: center;*/
    flex:7;
}
.chatInput > input{
  font-size: 10pt;
  height: 30px;
  width:95%;
  outline-style: none;
  padding-left: 10px;
  margin-left: 10px;
}
.chatSend{
  display: flex;
  align-items: center;
  flex-basis: 90px;
  flex-shrink: 1;
}
.chatSend > button{
  padding: 0px 20px;
  height: 34px;
  font-size: 10pt;
  background-color:rgb(102, 168, 207);
  border: none;
  color:white;
  outline-style: none;
  font-family: 'Exo', sans-serif;
}

/* ASIDE BAR!!*/

.asideBar{
  border: 1px solid lightgray;
  background-color: rgb(241, 239, 239);
  flex-basis: 250px;
  flex-shrink: 1;
}
.search{
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.search > img{
  width:20px;
  height: 20px;
  margin-left: 15px;
}
.search > input{
  border: none;
  outline: inherit;
  height: 30px;
  font-size: 10pt;
  width:100%;
  background-color: rgb(241, 239, 239);
  margin-left: 10px;
}
.usersList{
  -webkit-padding-start: 0px;
  margin: 0px;
  overflow: scroll;
  height: 500px;
  list-style: none;
}
.usersProfile{
  border-radius: 100%;
  width:50px;
  height: 50px;
  background-color: black;
  margin-left: 5px;
}
.usersBox{
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 15px 10px;
}
.usersBox:hover{
  background-color: rgb(247, 247, 247);
}
.usersIndex{
  margin-left: 13px;
}
.usersName{
  font-size:12pt;
}
.usersCountry{
  font-size: 8pt;
  color:gray;
}
